{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
</head>
<body>

<div id="header">
    <span class="logo">Bookmarks</span>

    {% if request.user.is_authenticated %}
        <span class="user">
        Hello {{ request.user.first_name|default:request.user.username }}
    </span>
        <a href="{% url 'account:edit' %}">Edit profile</a>

        <form method="post" action="{% url 'account:logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'account:login' %}">Log in</a>
        <a href="{% url 'account:register' %}">Register</a>
    {% endif %}
</div>

<ul class="messages">
    {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>


<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
